@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:ital,wght@1,100..900&display=swap');
* {
  font-family: 'roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #243e63;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

p {
  line-height: 1.5;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.li {
  list-style-type: none;
}

.purple {
  color: blueviolet;
}

/* Navigation Bar */

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
  padding-top: 32px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  padding: 28px;
}
.nav__links {
  display: flex;
  margin-left: 40px;
  align-items: center;
  gap: 48px;
}

.nav__link {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 300ms ease;
}

.nav__link:hover {
  text-decoration: underline;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.nav__links li {
  list-style: none;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--img {
  width: 36px;
  height: 36px;
}

.nav__logo--title {
  font-weight: bold;
  font-size: 32px;
}

.nav__link--primary {
  margin: 0;
  padding: 12px 42px;
  margin-top: 2px;
  border-radius: 9999px;
  color: #fff;
  background-color: #6415ff;
  line-height: 1.5;
  border: none;
  width: auto;
  transition: all 300ms ease;
  cursor: pointer;
}

/* Header */

.container {
  padding: 96px 0;
}

header .row {
  display: flex;
  justify-content: space-between;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  color: #1a202c;
  line-height: 1.25;
}

.header__img--wrapper {
display: flex;
justify-content: flex-end;
width: calc(100% - 40%);
}

.header__img {
  width: 100%;
}

.header__description {
  width: 40%;
  box-sizing: border-box;
}

.header__description--para {
  width: 70%;
  margin: 32px 0;
  font-size: 16px;
}

p {
  line-height: 1.5;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
  padding: 20px 24px;
  position: absolute;
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(221, 229, 235);
  font-size: 16px;
  font-weight: 500;
  margin: 16px;
  transition: border-color 300ms;
}

.header__email--btn {
  z-index: 2;
  font-size: 16px;
  font-weight: 700;
  margin: 8px;
  border-radius: 500px;
  color: #fff;
  background-color: #6415ff;
  line-height: 1.5;
  border: none;
  width: 160px;
  transition: all 300ms ease;
  cursor: pointer;
  position: relative;
  right: 16px;
  height: calc(100% - 16px);
}

.header__customer--title {
  color: #939292;
  margin-top: 80px;
  font-size: 12px;
  font-weight: 700;
}


.header__customer--img {
  margin-top: 16px;
  opacity: 0.5;
  padding-right: 64px;
}

img {
  width: 100%;
}

/* Features */

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 80px 0;
}

.row__narrow {
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  padding: 24px 0;
  display: flex;
  width: calc(100% / 3);
}

.feature__description {
  display: flex;
  flex-direction: column;
}

/* Steps */

.container {
  padding: 0px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container__row {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.container__lists {
  padding: 20px 0;
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
}

/* Values */

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__narrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row__logo {
  display: flex;
  flex-wrap: wrap;
}

/* Pricing */ 

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 80px 0;
}

.container__top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plans {
  display: flex;
  flex-wrap: wrap;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
}

/* Testimonials */

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 80px 0;
}

/* Start */

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 80px 0;
}

.btn__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

/* Footer */

.column {
  display: flex;
  align-items: center;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__columns {
  display: flex;
  flex-wrap: wrap;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 5);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  display: flex;
  align-items: center;
  color: gray;
}