@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:ital,wght@1,100..900&display=swap');
* {
  font-family: 'roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #243e63;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

p {
  line-height: 1.5;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.li {
  list-style-type: none;
}

.purple {
  color: blueviolet;
}
/* Navigation Bar */

.nav {
  display: flex;
  padding-top: 32px;
}

.nav__row {
  display: flex;
  justify-content: center
}

.nav__links {
  display: flex;
  padding-bottom: 2px;
  align-items: center;
}

.nav__link {
  text-decoration: underline;
  padding: 8px 0;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--title {
  font-weight: bold;
  font-size: 32px;
}

.nav__link--primary {
  display: flex;
  padding: 0 20px;
  cursor: pointer;
}

/* Features */

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 80px 0;
}

.row__narrow {
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  padding: 24px 0;
  display: flex;
  width: calc(100% / 3);
}

.feature__description {
  display: flex;
  flex-direction: column;
}

/* Steps */

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container__row {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.container__lists {
  padding: 20px 0;
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
}

/* Values */

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__narrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row__logo {
  display: flex;
  flex-wrap: wrap;
}

/* Pricing */ 

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 80px 0;
}

.container__top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plans {
  display: flex;
  flex-wrap: wrap;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
}

/* Testimonials */

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 80px 0;
}

/* Start */

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 80px 0;
}

.btn__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

/* Footer */

.column {
  display: flex;
  align-items: center;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__columns {
  display: flex;
  flex-wrap: wrap;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 5);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  display: flex;
  align-items: center;
  color: gray;
}